{
    "tabWidth": 4,
    "useTabs": false,
    "proseWrap": "always",
    "semi": true,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml", "*.json", "*.md"],
            "options": {
                "printWidth": 80,
                "proseWrap": "always",
                "tabWidth": 2
            }
        }
    ]
}
